<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Foods</title>
</head>

<body>
  <%- include("../partials/_navbar.ejs") %>
  <h1>Welcome to my Pantry</h1>
  <ul>
    <% pantry.forEach((food)=> { %>
    <li><%= food.name %>, quantity: <%= food.quantity%> <%= food.unit %></li>

    <%}) %>
  </ul>

  <a href="/users/<%= user._id %>/foods/new">Add a new food to your pantry</a>

</body>

</html>